h1 {
    color: darkcyan;
    font-size: 60px;
}

body {
    /* background-image: './templates/PS_PROJECT/arkafon.jpg' */
    /* background: #747581; */
    background-image: "./templates/pictures/arkafon.jpg"
}