{% extends 'base.html' %}
{% block content %}
<h1>Arassacylyk Serishdeleri</h1>
<br/>
{% for product in clear_products %} 
    <div class="shadow p-3 mb-5 bg-body rounded">
        <a href="#"><h4>Ady: {{ product.product_name }}</a></br></h4>
        <h4>Bahasy: {{ product.product_price }}</br></h4>
        <h4>Tanyshdyrys: {{ product.description }}</br></h4>
        <h4>Arzanladysh: {{ product.product_sale }}</br></h4>
        <h4>Goyulan wagty: {{ product.dateAdded }}</br></h4>
        <a href="{{ url_for('products.update_product', id=product.id) }}">Tazelemek</a>
        <a href="{{ url_for('products.delete_product', id=product.id) }}">Ayyrmak</a>
    </div>
{% endfor %}
{% endblock %}

