<nav class="navbar navbar-expand-lg" style="background-color: #030C57; height: 70px; opacity: 80%;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('admins.for_logo') }}" style="color: white">Oýun Merkezi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills">
          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admins.game_con') }}" style="color: white">Iş ýörediji</a>
          </li>
          {% if current_user.isPatron %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admins.all_ps4_ps5') }}" style="color: white">Başlyk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admins.dayReport') }}" style="color: white">Günlik hasaplamalar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admins.monthReport') }}" style="color: white">Aýlyk hasaplamalar</a>
            </li>  
          {% endif %}  
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('devices.scanNetwork') }}" style="color: white">Baglan</a>
          </li>    
        </ul>
        <!-- <form class="form-inline">
          <input class="form-control mr-sm-2" style="width: 25rem" type="search" placeholder="Gözlemek" aria-label="Search">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Gözle</button>
        </form> -->
      </div>
    </div>
  </nav>