<nav class="navbar navbar-expand-lg" style="background-color: #a9f5d1; height: 70px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('games.for_logo') }}">OýuN MerKezI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('games.all_games') }}">Oýunlar sanawy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Iş ýörediji</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('games.add_games') }}">Oýun goşmak</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('clients.all_clients') }}">Oýunçy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('clients.add_clients') }}">Oýunçy goşmak</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admins.all_ps4_ps5') }}">Başlyk</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ulgama girmek</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ulgamadan çykmak</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admins.first_time') }}">Başlat</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admins.second_time') }}">Duruz</a>
          </li>          
        </ul>
        <form class="form-inline">
          <input class="form-control mr-sm-2" style="width: 25rem" type="search" placeholder="Gözlemek" aria-label="Search">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Gözle</button>
        </form>
      </div>
    </div>
  </nav>